In [40]:
import pandas as pd

In [41]:
url = "https://api.db.nomics.world/v22/series/AMECO/UDGG.csv?dimensions=%7B%22freq%22%3A%5B%22a%22%5D%2C%22unit%22%3A%5B%22percentage-of-gdp-at-current-prices-excessive-deficit-procedure%22%5D%2C%22geo%22%3A%5B%22deu%22%2C%22ita%22%2C%22fra%22%2C%22esp%22%5D%7D&limit=1000"


df_debt = pd.read_csv(url)

df_debt.head(10)

,period,Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – Germany (AMECO/UDGG/DEU.1.0.319.0.UDGG),Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – Spain (AMECO/UDGG/ESP.1.0.319.0.UDGG),Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – France (AMECO/UDGG/FRA.1.0.319.0.UDGG),Annually – (Percentage of GDP at current prices (excessive deficit procedure)) – Italy (AMECO/UDGG/ITA.1.0.319.0.UDGG)
0,1960,NaN,NaN,NaN,31.7953
1,1961,NaN,NaN,NaN,29.9336
2,1962,NaN,NaN,NaN,28.7905
3,1963,NaN,NaN,NaN,26.8476
4,1964,NaN,NaN,NaN,26.6785
5,1965,NaN,NaN,NaN,27.7109
6,1966,NaN,NaN,NaN,32.3737
7,1967,NaN,NaN,NaN,31.9473
8,1968,NaN,NaN,NaN,34.3091
9,1969,NaN,NaN,NaN,34.9216

In [42]:
df_debt.to_csv('data/df_debt.csv', sep = ",", index = False)

In [43]:
new_names = {df_debt.columns[0]: "Year",
             df_debt.columns[1]: "Germany",
             df_debt.columns[2]: "Spain",
             df_debt.columns[3]: "France",
             df_debt.columns[4]: "Italy",}

df_debt.rename(columns = new_names, inplace = True)

In [44]:
df_debt.head()

   Year  Germany  Spain  France    Italy
0  1960      NaN    NaN     NaN  31.7953
1  1961      NaN    NaN     NaN  29.9336
2  1962      NaN    NaN     NaN  28.7905
3  1963      NaN    NaN     NaN  26.8476
4  1964      NaN    NaN     NaN  26.6785

In [45]:
df_debt.isnull().sum()

Year        0
Germany    35
Spain      35
France     35
Italy       0
dtype: int64

In [46]:
df_debt.dropna(inplace = True)
df_debt.reset_index(drop=True, inplace = True)
df_debt

    Year  Germany     Spain    France     Italy
0   1995  54.9024   61.5424   57.5929  119.3622
1   1996  57.7939   65.4076   60.3374  119.1093
2   1997  58.8666   64.2495   61.8342  116.7821
3   1998  59.5347   62.3060   61.8435  114.1269
4   1999  60.3874   60.8039   61.1666  113.2895
5   2000  59.3398   57.8153   59.5167  109.0258
6   2001  58.1930   54.0495   59.0088  108.8863
7   2002  59.9458   51.2499   60.8896  106.3605
8   2003  63.5383   47.7117   65.0290  105.4946
9   2004  65.2009   45.3655   66.5689  105.1009
10  2005  67.5463   42.4302   68.0371  106.5575
11  2006  66.8871   39.0639   65.3254  106.7398
12  2007  64.1583   35.7646   65.3593  103.8902
13  2008  65.6816   39.7120   69.7358  106.1670
14  2009  73.1566   53.2613   84.0304  116.6155
15  2010  81.9947   60.5153   86.3119  119.2080
16  2011  79.4172   69.8504   88.9120  119.7072
17  2012  80.7451   89.9825   91.7192  126.5107
18  2013  78.3224  100.4877   94.6870  132.4748
19  2014  75.2791  105.0588   96.3165  135.3842
20  2015  71.9465  103.2993   97.0724  135.2990
21  2016  68.9547  102.7485   98.0251  134.8040
22  2017  65.2042  101.7996   98.4852  134.1838
23  2018  61.9137  100.4155   98.1581  134.4695
24  2019  59.5804   98.2210   97.8872  134.1910
25  2020  68.7730  120.2658  114.8532  154.9537
26  2021  68.9861  116.8408  112.9733  147.1270
27  2022  66.0769  111.6180  111.9182  140.5217
28  2023  63.6391  107.6521  110.6433  137.3104
29  2024  62.9344  105.5079  112.4088  138.6244
30  2025  62.1991  104.8290  113.8249  141.6909

In [ ]:
df_debt.to_csv('data/df_debt_wide.csv')